
    <div class="container">

        <h1>Reservation </h1>
        {{ form_start(form) }}
        <div class="form-group">
            <div class="col md-1">
                {{ form_label(form.nbrplace) }}
                {{ form_widget(form.nbrplace) }}
                <div class="form-error">
                    {{ form_errors(form.nbrplace) }}
                </div>
            </div>

            <div class="col md-3" id="dateDebut">

                {{ form_label(form.date_debut) }}
                {{ form_widget(form.date_debut) }}
                <div class="form-error">
                    {{ form_errors(form.date_debut) }}
                </div>


            </div>

            {#                {{ form_row(form.date_debut) }}#}

            <div class="col md-4" id="dateFin">
                {{ form_label(form.date_fin) }}
                {{ form_widget(form.date_fin) }}
                <div class="form-error">
                    {{ form_errors(form.date_fin) }}
                </div>
            </div>



            {#                {{ form_row(form.date_fin) }}#}
            <div class="col md-5" id="plan">
                {{ form_label(form.plan) }}
                {{ form_widget(form.plan) }}
                <div class="form-error">
                    {{ form_errors(form.plan) }}
                </div>
            </div>

            {#                    {{ form_row(form.plan)}}#}

        </div> <br>

        {#        {{ form_row(form.idclient) }}#}

        <div class="row">
            <div class="col col-md-2 offset-md-4">
                <div class ="form-group">
                    {{ form_row(form.captchaCode)  }}
                </div>
            </div>
        </div>

        {% set formErrors=form.vars.errors.form.getErrors(true) %}

        {% if formErrors|length %}

            <div class="alert alert-danger">
                <ul>
                    {% for error in formErrors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
















    </div><!----------div container------------------>












    {#{% block stylesheet %}
        {{ parent() }}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
   {% endblock %}




{% block javascript  %}
{{ parent() }}#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>


    <script rel="stylesheet" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script rel="stylesheet" src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>


    <script>
        $(document).ready(function(){
            const minDate =new Date();
            $('.js-datepicker').datepicker({
                showAnim:'drop',
                numberOfMonth:1,
                minDate:minDate,
                dateFormat:'yy-mm-dd',
                onClose: function (selectedDate){
                    $('#return').datepicker("option","minDate",selectedDate);
                }
            });

        });
</script>








