{% extends 'basebaha.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}
    {{ include('my_side_bar_back_office.html.twig') }}
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href={{ asset("assets/vendors/mdi/css/materialdesignicons.min.css")}}>
    <link rel="stylesheet" href={{ asset("assets/vendors/css/vendor.bundle.base.css")}}>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href={{ asset("assets/vendors/jvectormap/jquery-jvectormap.css")}}>
    <link rel="stylesheet" href={{ asset("assets/vendors/flag-icon-css/css/flag-icon.min.css")}}>
    <link rel="stylesheet" href={{ asset("assets/vendors/owl-carousel-2/owl.carousel.min.css")}}>
    <link rel="stylesheet" href={{ asset("assets/vendors/owl-carousel-2/owl.theme.default.min.css")}}>
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href={{ asset("assets/css/style.css")}}>
    <!-- End layout styles -->
    <link rel="shortcut icon" href={{ asset("assets/images/favicon.png")}} />
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-uppercase display-3 ">{{ plan.titre }}</div><br><br>
                            <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel" id="owl-carousel-basic">
                                {% for plan_image in planImages %}
                                <div class="item">
                                    {{ include('plan_image/_delete_form.html.twig') }}
                                    <img src={{ asset("uploads/")}}{{ plan_image.path }} alt="">
                                </div>
                                {% endfor %}
                            </div>
                            <div class="d-flex py-4">
                                <div class="preview-list w-100">
                                    <div class="preview-item p-0">
                                        <div class="preview-thumbnail">
                                            <img src={{ asset("assets/images/faces/face12.jpg")}} class="rounded-circle" alt="">
                                        </div>
                                        <div class="preview-item-content d-flex flex-grow">
                                            <div class="flex-grow">
                                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                                    <div class="">{{ plan.idguide.nom }} {{ plan.idguide.prenom }}</div>
                                                    <p class="text-muted text-small">{{ plan.prix }} (DT)</p>
                                                </div>
                                                <p class="text-muted" style="width:100%;word-wrap: break-word;overflow-wrap: break-word; white-space: normal" >{{ plan.description }}</p>
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <th>Nmbrplacesmax</th>
                                                        <td>{{ plan.nmbrplacesmax }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Nmbrplacesreste</th>
                                                        <td>{{ plan.nmbrplacesreste }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Datedebut</th>
                                                        <td>{{ plan.datedebut ? plan.datedebut|date('Y-m-d') : '' }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Datefin</th>
                                                        <td>{{ plan.datefin ? plan.datefin|date('Y-m-d') : '' }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Note</th>
                                                        <td>{{ plan.note }}/10</td>
                                                    </tr>
                                                    <tr>
                                                        <th> <a class="btn btn btn-outline-primary btn-fw" href="{{ path('app_plan_edit', {'id': plan.id}) }}">edit</a></th>
                                                        <td>{{ include('plan/back_office/_delete_form.html.twig') }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-lg-7 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Les Places</h4>
                            <p class="card-description"> NB: Lieux à visiter lors de ce circuit
                            </p>
                            <div class="table-responsive">

                                <table class="table" style="width: 100%;border-collapse: collapse;">
                                    <thead>
                                    <tr>

                                        <th>Nom</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style="color: #c5cbed">
                                        <td></td>
                                        <td>{{ plan.pointdepart.nom}}</td>
                                        <td><label class="badge badge-info">point de Depart</label></td>
                                    </tr>
                                    {% for plan_place in planPlaces %}
                                        <tr style="color: #c5cbed">
                                            <td>{{ include('plan_place/_delete_form.html.twig') }}</td>
                                            <td>{{ plan_place.idplace.nom }}</td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}

                                        <tr>
                                            <td>
                                                {{ form_start(planPlaceForm) }}
                                                {{ form_widget(planPlaceForm.idplan, { 'attr': {'style': 'display: none;'} }) }}
                                                {{ form_widget(planPlaceForm.idplace) }}
                                                {{ form_end(planPlaceForm) }}
                                            </td>
                                            <td>


                                            </td>

                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Ajouter Image</h4>
                            <p class="card-description">
                            </p>
                            {{ form_start(planImageForm) }}
                            {{ form_widget(planImageForm.idplan, { 'attr': {'style': 'display: none;'} }) }}
                            {{ form_widget(planImageForm.path) }}
                            {{ form_end(planImageForm) }}
                        </div>
                    </div>
                </div>
            </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
        </div>
    </footer>
    <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src={{ asset("assets/vendors/js/vendor.bundle.base.js")}}></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src={{ asset("assets/vendors/chart.js/Chart.min.js")}}></script>
    <script src={{ asset("assets/vendors/progressbar.js/progressbar.min.js")}}></script>
    <script src={{ asset("assets/vendors/jvectormap/jquery-jvectormap.min.js")}}></script>
    <script src={{ asset("assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js")}}></script>
    <script src={{ asset("assets/vendors/owl-carousel-2/owl.carousel.min.js")}}></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src={{ asset("assets/js/off-canvas.js")}}></script>
    <script src={{ asset("assets/js/hoverable-collapse.js")}}></script>
    <script src={{ asset("assets/js/misc.js")}}></script>
    <script src={{ asset("assets/js/settings.js")}}></script>
    <script src={{ asset("assets/js/todolist.js")}}></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src={{ asset("assets/js/dashboard.js")}}></script>
    <!-- End custom js for this page -->

    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}
