{% extends 'basebaha.html.twig' %}

{% block title %}PlanImage{% endblock %}

{% block body %}
    {{ include('my_side_bar_back_office.html.twig') }}
    <h1>PlanImage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plan_image.id }}</td>
            </tr>
            <tr>
                <th>Idplan</th>
                <td>{{ plan_image.idplan }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ plan_image.path }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_plan_image_index') }}">back to list</a>

    <a href="{{ path('app_plan_image_edit', {'id': plan_image.id}) }}">edit</a>

    {{ include('plan_image/_delete_form.html.twig') }}
{% endblock %}
