{% extends 'basebaha.html.twig' %}

{% block header %}
    <head>
        <title>MACHI GO - Travel Freely</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

        <link rel="stylesheet" href={{  asset("front/css/open-iconic-bootstrap.min.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/animate.css") }}>

        <link rel="stylesheet" href={{  asset("front/css/owl.carousel.min.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/owl.theme.default.min.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/magnific-popup.css") }}>

        <link rel="stylesheet" href={{  asset("front/css/aos.css") }}>

        <link rel="stylesheet" href={{  asset("front/css/ionicons.min.css") }}>

        <link rel="stylesheet" href={{  asset("front/css/bootstrap-datepicker.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/jquery.timepicker.css") }}>


        <link rel="stylesheet" href={{  asset("front/css/flaticon.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/icomoon.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/style.css") }}>
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    </head>
{% endblock %}

{% block body %}
    {{ include('navbar_front_office.html.twig') }}
    <div class="hero-wrap js-fullheight"
         style="background-image: url(
         {% if (planImages is not empty) %}
            {{ asset("uploads/")}}{{ planImages[0].path }}
         {% else %}
             {{  asset("front/images/image_5.jpg") }}
         {%endif%}
                 );">



        <div class="overlay"></div>
        <div class="container">

            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="#">Home</a></span> <span class="mr-2">             {% if (planImages is not empty) %}
                                    {% set plan_image = planImages[0] %}
                                    {{ include('plan_image/_delete_form.html.twig') }}
                                Supprimer cette Image
                                {%endif%}</span> <span></span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{plan.titre}}</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ftco-animate">
                    <h2 class="mb-3">en savoir plus sur {{plan.titre}}</h2>
                    <p>{{plan.description}}</p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Nombre de places max</th>
                            <td>{{ plan.nmbrplacesmax }}</td>
                        </tr>
                        <tr>
                            <th>Nombre de places reste</th>
                            <td>{{ plan.nmbrplacesreste }}</td>
                        </tr>
                        <tr>
                            <th>Date debut</th>
                            <td>{{ plan.datedebut ? plan.datedebut|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Date fin</th>
                            <td>{{ plan.datefin ? plan.datefin|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Note</th>
                            <td>{{ plan.note }}/10</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td><h5 class="mb-2 mt-4">{{plan.prix}} DT</h5></td>
                        </tr>
                        <tr>
                            <th> <a class="btn btn btn-outline-primary btn-fw" href="{{ path('app_plan_edit', {'id': plan.id}) }}">edit</a></th>
                            <td>{{ include('plan/back_office/_delete_form.html.twig') }}</td>
                        </tr>
                        </tbody>
                    </table>

                    {% set skipFirstImg= 1 %}
                    {% for plan_image in planImages %}
                    <p>
                        {% if skipFirstImg == 0 %}
                            {{ include('plan_image/_delete_form.html.twig') }}
                            <img src={{ asset("uploads/")}}{{ plan_image.path }} alt="" style="max-width: 100%;height: auto;">
                        {%endif%}
                        {% set skipFirstImg = 0%}
                    </p>
                    {% endfor %}

                    <div class="about-author d-flex p-5 bg-light">
                        <div class="bio align-self-md-center mr-5">
                            <img src={{asset("front/images/person_1.jpg")}} alt="Image placeholder" class="img-fluid mb-4" style="max-width: 20%;height: auto;">
                        </div>
                        <div class="desc align-self-md-center">
                            <h3>GUIDE</h3>
                            <p> {{ plan.idguide.nom }} {{ plan.idguide.prenom }}</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 sidebar ftco-animate">
                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3>lieux à visiter lors de ce voyage</h3>
                            {% for plan_place in planPlaces %}
                            <li>{{ include('plan_place/_delete_form.html.twig') }}<span><a href="#">{{ plan_place.idplace.nom }}</a></span></<li>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        {{ form_start(planPlaceForm) }}
                        {{ form_widget(planPlaceForm.idplan, { 'attr': {'style': 'display: none;'} }) }}
                        {{ form_widget(planPlaceForm.idplace) }}
                        {{ form_end(planPlaceForm) }}
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <h3 >Ajouter Image</h3>
                        <p class="card-description">
                        </p>
                        {{ form_start(planImageForm) }}
                        {{ form_widget(planImageForm.idplan, { 'attr': {'style': 'display: none;'} }) }}
                        {{ form_widget(planImageForm.path) }}
                        {{ form_end(planImageForm) }}
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    <script src={{  asset("front/js/jquery.min.js") }}></script>
    <script src={{  asset("front/js/jquery-migrate-3.0.1.min.js") }}></script>
    <script src={{  asset("front/js/popper.min.js") }}></script>
    <script src={{  asset("front/js/bootstrap.min.js") }}></script>
    <script src={{  asset("front/js/jquery.easing.1.3.js") }}></script>
    <script src={{  asset("front/js/jquery.waypoints.min.js") }}></script>
    <script src={{  asset("front/js/jquery.stellar.min.js") }}></script>
    <script src={{  asset("front/js/owl.carousel.min.js") }}></script>
    <script src={{  asset("front/js/jquery.magnific-popup.min.js") }}></script>
    <script src={{  asset("front/js/aos.js") }}></script>
    <script src={{  asset("front/js/jquery.animateNumber.min.js") }}></script>
    <script src={{  asset("front/js/bootstrap-datepicker.js") }}></script>
    <script src={{  asset("front/js/jquery.timepicker.min.js") }}></script>
    <script src={{  asset("front/js/scrollax.min.js") }}></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src={{  asset("front/js/google-map.js") }}></script>
    <script src={{  asset("front/js/main.js") }}></script>

    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}