{#  {%  extends'base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block content %}
    <h1>Create new Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>
{% endblock %}#}


{%  extends'base.html.twig' %}


{%  block content %}


<div class="section1">
        <video id="background-video" autoplay loop muted>
            <source src="{{ asset('images/tunisia.mp4') }}" type="video/mp4">
        </video>
</div>



    <section class="ftco-section contact-section ftco-degree-bg">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h4">Contact Information</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3">
                    <p><span>Address:</span> Dar chaaben, nahj aflatoun 7011</p>
                </div>
                <div class="col-md-3">
                    <p><span>Phone:</span> <a href="tel://1234567920">+216 27 066 310 </a></p>
                </div>
                <div class="col-md-3">
                    <p><span>Email:</span> <a href="mailto:info@yoursite.com">mootezmejdoub@esprit.tn</a></p>
                </div>

            </div>

            <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
            {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

            {# affichage reclamation mtai #}

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">VOS RECLAMATIONS</h4>
                        <p class="card-description"> you can modify your  <code>Reclamations</code>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-dark">
                                <thead>
                                <tr>

                                    <th> Description</th>
                                    <th> Reference </th>
                                    <th> Date </th>
                                    <th> Etat </th>
                                    <th>Action</th>
                                    <th>Reply</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for r in rec %}
                                    <tr>
                                        <td> {{ r.description }} </td>
                                        <td> {{ r.recReference}} </td>
                                        <td> {{ r.date| date('Y-m-d')  }} </td>
                                        <td> {{ r.etat }} </td>
                                        <td>
                                            {# <form method="post" action="{{ path('app_reclamation_delete', {'id': r.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ r.id) }}">
                                                <button class="btn py-1 px-2 btn-primary">DELETE</button>
                                            </form> #}

                                            <form action="{{ path('app_reclamation_edit',{'id':r.id}) }}">
                                                <button class="btn py-1 px-2 btn-primary">Modify</button>
                                            </form>
                                            <h3></h3>


                                            <form  action="{{ path('app_reclamation_deleteClient',{'id':r.id}) }}">

                                                <button class="btn py-1 px-2 btn-primary">DELETE</button>
                                            </form>

                                        </td>
                                        <td>
                                            <form action="{{ path('app_reponse_index', {'id': r.id}) }}">

                                                <button class="btn py-1 px-2 btn-primary">CHECK</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {# ///////////wfet affichage #}
            <h1></h1>
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

            <div class="row block-9">
                <div class="col-md-7 pr-md-5">
                    <h3 class="card-title" >Ajouter Une Reclamation</h3>

                    {{ include('reclamation/_form.html.twig') }}




                    {#  <a href="{{ path('app_reclamation_index') }}">back to list</a> #}

                </div>


            </div>
                    </div>
                </div>


            </div>
        </div>
    </section>



{% endblock %}