{% extends 'basebaha.html.twig' %}

{% block header %}
    <head>
        <title>MACHI GO - Travel Freely</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

        <link rel="stylesheet" href={{  asset("front/css/open-iconic-bootstrap.min.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/animate.css") }}>

        <link rel="stylesheet" href={{  asset("front/css/owl.carousel.min.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/owl.theme.default.min.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/magnific-popup.css") }}>

        <link rel="stylesheet" href={{  asset("front/css/aos.css") }}>

        <link rel="stylesheet" href={{  asset("front/css/ionicons.min.css") }}>

        <link rel="stylesheet" href={{  asset("front/css/bootstrap-datepicker.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/jquery.timepicker.css") }}>


        <link rel="stylesheet" href={{  asset("front/css/flaticon.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/icomoon.css") }}>
        <link rel="stylesheet" href={{  asset("front/css/style.css") }}>
    </head>
{% endblock %}

{% block body %}
    {{ include('navbar_front_office.html.twig') }}

    <div class="hero-wrap js-fullheight" style="background-image: url({{asset("front/images/bg_4.jpg")}}); height: 1010px;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true" style="height: 1010px;">
                <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated" data-scrollax=" properties: { translateY: '70%' }" style="transform: translateZ(0px) translateY(0%);">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 1; transform: translateZ(0px) translateY(0%);"><span class="mr-2"><a href="#">Home</a></span> <span></span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 1; transform: translateZ(0px) translateY(0%);">Les Places</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row d-flex">


                    {% for place in places %}
                        {%set firstImg = 0 %}
                        <div class="col-md-3 d-flex ftco-animate fadeInUp ftco-animated">
                            <div class="blog-entry align-self-stretch">
                                <a href="{{ path('app_place_show', {'id': place.id}) }}" class=" block-20"
                                   style="background-image: url({% for place_image in placeImages %}{% if place_image.idplace == place and firstImg == 0 %}{% set firstImg = 1 %}{{ asset("uploads/")}}{{ place_image.path }}{%endif%}{%endfor%});"></a>
                                <div class="text p-4 d-block">
                                    <span class="tag">{{ place.type }}</span>
                                    <h3 class="heading mt-3"><a href="#">{{ place.nom }}</a></h3>
                                    <div class="meta mb-3">
                                        <div><a href="#">{{ place.description }}</a></div>
                                        <div><a href="#"></a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> {{ place.note }} /10</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endfor%}

            </div>
        </div>
    </section>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    <script src={{  asset("front/js/jquery.min.js") }}></script>
    <script src={{  asset("front/js/jquery-migrate-3.0.1.min.js") }}></script>
    <script src={{  asset("front/js/popper.min.js") }}></script>
    <script src={{  asset("front/js/bootstrap.min.js") }}></script>
    <script src={{  asset("front/js/jquery.easing.1.3.js") }}></script>
    <script src={{  asset("front/js/jquery.waypoints.min.js") }}></script>
    <script src={{  asset("front/js/jquery.stellar.min.js") }}></script>
    <script src={{  asset("front/js/owl.carousel.min.js") }}></script>
    <script src={{  asset("front/js/jquery.magnific-popup.min.js") }}></script>
    <script src={{  asset("front/js/aos.js") }}></script>
    <script src={{  asset("front/js/jquery.animateNumber.min.js") }}></script>
    <script src={{  asset("front/js/bootstrap-datepicker.js") }}></script>
    <script src={{  asset("front/js/jquery.timepicker.min.js") }}></script>
    <script src={{  asset("front/js/scrollax.min.js") }}></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src={{  asset("front/js/google-map.js") }}></script>
    <script src={{  asset("front/js/main.js") }}></script>
{% endblock %}